.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div, .footer > div, div.input {
  display: flex;
  border: 1px solid gray;
  border-radius: 15px;
  width: 300px;
  margin-top:10px;
}

.header > div > input, .footer > div > textarea, input{
  border: none;
  border-radius: 15px;
  width: 100%;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.login {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
  flex-wrap: wrap;
}
.button-primary {
  background: #009688;
  color: white;
  padding:8px 15px;
  border: none;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
}

a:visited, a:link, a:hover, v  {
  text-decoration: none;
  color: black;
}

.shiftCard {
  margin: 10px;
  background: #99bbad;
  color: white;
  padding:15px;
  border-radius: 10px;
}

.form-shift > div {
  margin: 15px 8px;
}